
<div  fxFlexFill [fxLayout]="'row'" fxLayoutAlign="center center">
  <md-card class="register-card">
    <md-card-header fxLayoutAlign="center center">
      <span class="md-title">Create user</span>
    </md-card-header>
    <md-card-content>
<md-input-container>
<input mdInput placeholder="Type name..." type="text" required [(ngModel)]="user.Name"/>
    </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="Type username..." type="text" required [(ngModel)]="user.Username"/>
      </md-input-container><br>
      <md-input-container>
<input mdInput placeholder="Type Mail.." type="Email" required [(ngModel)]="user.Email"/>
      </md-input-container><br>
      <md-input-container>
<input mdInput placeholder="Type Phonenumber..." type="text" required [(ngModel)]="user.PhoneNr"/>
      </md-input-container><br>
      <md-input-container>
<input mdInput placeholder="Type Password..." type="password" required [(ngModel)]="user.Password"/>
      </md-input-container><br>
<md-card-actions>
<button md-button class="md-primary"(click)="createUser(user)"> save </button>
</md-card-actions>
  </md-card-content>

  </md-card>
</div>
