
<md-card>
  <md-card-header class="headline">
    <h3>
      {{topic.Header}} - Created by {{userCreatedTopic.Name}}
    </h3>
    <button md-button *ngIf="userCanEditDelete" (click)="editHeader()">Edit</button>
  </md-card-header>
  <md-card>
    {{topic.Description}}
  </md-card>

  <md-card class="divider" *ngFor="let c of sortedByTopicIdComments">
    <div class="comment-card" >

      {{c.Date.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy"}}:
      {{c.Content}}

      <p md-line> <md-divider ></md-divider></p>

      writtenbyuser:{{c.WrittenByUser.Id}} loggedinuserid:{{loggedInUserId}}
      <button md-button *ngIf="c.WrittenByUser.Id === loggedInUserId" (click)="deleteComment(c.Id)">Delete comment</button>
      <button md-button *ngIf="!isEditingCommment && c.WrittenByUser.Id === loggedInUserId" (click)="isEditing(c)" >Edit</button>
      <input type="text" name="content" [(ngModel)]="c.Content" *ngIf="isEditingCommment && c.WrittenByUser.Id === loggedInUserId" />
      <button md-button *ngIf="isEditingCommment && c.WrittenByUser.Id === loggedInUserId" (click)="edit(c, true)" >Save</button>
      <button md-button *ngIf="isEditingCommment && c.WrittenByUser.Id === loggedInUserId" (click)="edit(c, false)" >Cancel</button>
    </div>
  </md-card>
</md-card>
<form *ngIf="isLoggedIn" (ngSubmit)="onSubmit()">
  <md-card>
    <md-card-content>
    <input type="text" placeholder="Your comment..." [(ngModel)]="comment.Content" name="content" >
      <button md-button type="submit">
      Add comment
    </button>
    </md-card-content>
  </md-card>

</form>
<p *ngIf="!isLoggedIn"> Please log in to comment</p>

<button md-button *ngIf="userCanEditDelete" (click)="deleteTopic()">DELETE TOPIC </button>


