
<md-card>
  <md-card-header class="headline">
    <h3>
      {{topic.Header}}
    </h3>
  </md-card-header>
  <md-card class="divider" *ngFor="let comment of topic.Comments">
    <div class="comment-card" >

      {{comment.Date.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy"}}:
      {{comment.Content}}

      <p md-line> <md-divider ></md-divider></p>

    </div>
  </md-card>
</md-card>
<form *ngIf="isLoggedIn" (ngSubmit)="onSubmit()">
  <md-card>
    <md-card-content>
    <input type="text" placeholder="Your comment..." [(ngModel)]="comment.Content" name="content" >
      <button md-button type="submit">
      Add comment
    </button>
    </md-card-content>
  </md-card>

</form>
<p *ngIf="!isLoggedIn"> Please log in to comment</p>


<button md-button (click)="editHeader()"> edit header </button>
<button md-button (click)="deleteTopic()"> delete topic </button>

