
<md-toolbar >
  <button md-button color="primary" routerLink="/forum">Forum</button>
  <span class="example-fill-remaining-space"></span>
  <button md-button color="primary" routerLink="/home">Home</button>
  <button md-button color="primary" routerLink="/register">Register Fish</button>
  <button md-button color="primary" routerLink="/list">Fish List</button>
  <span class="fill-remaining-horizontal-space"></span>

  <button md-button (click)="clearSession()">Logout</button>
  <button id="login"md-button color="primary" routerLink="/login">Login</button>

</md-toolbar>
