<p>
  login-view works!
</p>

<form (ngSubmit)="tryLogin($event)">
  <div fxFlexFill [fxLayout]="'row'" fxLayoutAlign="center center">
    <md-card class="login-card">
      <md-card-content>
        <md-input-container>
          <input mdInput name="username" placeholder="Username" [(ngModel)]="user.Name"/>
        </md-input-container>
        <md-input-container>
          <input mdInput name="password" placeholder="Password" [(ngModel)]="user.Password"/>
        </md-input-container>
        <md-card-actions>
          <button md-button type="submit">Login</button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</form>
