<form class="login" (ngSubmit)="tryLogin($event)">
  <div fxFlexFill [fxLayout]="'row'" fxLayoutAlign="center center">
    <md-card class="login-card">
      <p *ngIf="loginError" style="font-size: small; color: red">{{loginError}}</p>
      <md-card-content>
        <md-input-container>
          <input mdInput name="username" placeholder="Username" [(ngModel)]="user.Username"/>
        </md-input-container>
        <md-input-container>
          <input mdInput name="password" placeholder="Password" [(ngModel)]="user.Password"/>
        </md-input-container>
        <md-card-actions fxLayoutAlign="center center">
          <button md-button type="submit">Login</button>
          <button routerLink="/create" md-button >Create</button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</form>
