<div fxLayoutAlign="center center">
  <img class="img" src="\..\..\..\img\Logo960WEB.gif" alt="Mountain View">
</div>
<div style="overflow-x: auto">
<table fxFlexFill [fxLayout]="'row'" fxLayoutAlign="center center">
  <tr>
    <th></th>
    <th>Laks < 75 cm</th>
    <th>Laks > 75 cm</th>
  </tr>
  <tr>
  <th>Konge å</th>
    <td>{{klessthan}}/15</td>
    <td>{{kmorethan}}/15</td>
</tr>
  <tr>
    <th>Sneum å</th>
    <td id="reached" *ngIf="isReached">{{slessthan}}/15</td>

    <td *ngIf="!isReached">{{slessthan}}/15</td>
    <td>{{smorethan}}/15</td>
  </tr>


</table>

</div>
