<div fxLayoutAlign="center center">
  <img class="img" src="\..\..\..\img\Logo960WEB.gif" alt="Mountain View">
</div>
<div style="overflow-x: auto">
<table fxFlexFill [fxLayout]="'row'" fxLayoutAlign="center center">
  <tr>
    <th></th>
    <th>Laks < 75 cm</th>
    <th>Laks > 75 cm</th>
  </tr>
  <tr>
  <th>Konge å</th>
    <td class="reached" *ngIf="isReachedKLess">{{klessthan}}/15</td>
    <td *ngIf="!isReachedKLess">{{klessthan}}/15</td>

    <td class="reached" *ngIf="isReachedKMore">{{kmorethan}}/15</td>
    <td *ngIf="!isReachedKMore">{{kmorethan}}/15</td>
</tr>
  <tr>
    <th>Sneum å</th>
    <td class="reached" *ngIf="isReachedsless">{{slessthan}}/15</td>
    <td *ngIf="!isReachedsless">{{slessthan}}/15</td>

    <td class="reached" *ngIf="isReachedsless">{{smorethan}}/15</td>
    <td *ngIf="!isReachedsless">{{smorethan}}/15</td>
  </tr>


</table>

</div>
